.main {

}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
}

.pic-container {
    margin: 20px;
    font-size: 100px;
}

.options-container {
    display: flex;
}

.option {
    text-align: center;
    margin: 10px;
    padding: 8px;
    width: 80px;
    visibility: hidden;
}

.btn {
    border: 2px solid rgb(135, 135, 246);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(135, 135, 246);
    color: #fff;
}

.btnCheck {
    border: 2px solid rgb(135, 135, 246);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    visibility: hidden;
}
.btnCheck:hover {
    background-color: rgb(135, 135, 246);
    color: #fff;
}
.score__table {
    color: rgb(135, 135, 246);
}

.input {
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid rgb(135, 135, 246);
    visibility: hidden;
    text-align: center;
}